<section class="pt-5 pb-5" id="partners">
  <div class="container mb-md-5 mt-md-5">

    <!-- page heading-->
    <div class="mb-5">
      <h1 class="section-heading text-uppercase underline text-center">
        Partners
      </h1>
      <div class='bigger'>
        <p>
          Veterinaria El Sargento: Dr Cristhian Pozo is our primary care vet, he has been instrumental in keeping our organization running. Alway a calm but reliable presence, we are so thankful to have him in town.        </p>
        <br>
        <p>
          Veterinaria Animalejos: Dr Kenia Higuera and Dr Coral MV are the team we work with during our spay campaigns. Their work has been instrumental in improving the lives of the pets in our local community. By providing high quality work in such a high volume, we feel so lucky to have this partnership.        </p>
        <br>
        <p>
          Another special partner is our friend Taya Wyss, who has spent the last few years working tirelessly to provide free spay, neuter and vaccines for the community's dogs. Her work is invaluable in keeping the number of unwanted puppies low compared to previous years. 
        </p>
      </div>
    </div>
  </div> <!--container-->
</section>