<section class="pt-5 pb-5" id="partners">
  <div class="container mb-md-5 mt-md-5">

    <!-- page heading-->
    <div class="mb-5">
      <h1 class="section-heading text-uppercase underline text-center">
        Spay & Neuter Program
      </h1>
      <div class='bigger'>
        <p>
          In January of 2025, we announced that Baja Pet Rescue would be shifting its focus to spay/neuter efforts. We set a goal for ourselves to provide <strong>1000 spays</strong> to La Ventana and all the small communities in the area.
        </p>
        <br>
        <p>
          We aim to host two spay campaigns per month, each campaign has up to 40 spaces available. At these campaigns we provide additional care such as dewormer, flea/tick treatments, collars, leashes and hopefully in the future; vaccinations. Our goal is to empower members of the community to give their pets the best life they can.
        </p>
        <br>
        <p>
          The cost of each surgery is about $32 on average, while this is an incredibly low cost, we will still need to raise at least <strong>$32000 USD</strong> to reach our goal. Additionally, we would like to employ a number of individuals from the local communities to help with community outreach and scheduling.
        </p>
        <br>
        <p>
          If you would like to be involved, here are some ways we need help:
        </p>
        <ul>
          <li class="mt-2">
            Donate - Whether you’d like to sponsor a spay, or an entire spay day. Every contribution helps. A great way to raise the funds to sponsor a spay day is by getting a group of friends together to each donate a portion.
          </li>
          <li class="mt-2">
            Donate Supplies - We like to provide dewormer, tick treatments, collars and leashes to those who bring their pets to spay day. We are also always in need of medical supplies such as syringes and dissolving sutures. For a complete list of medical supplies needed, please contact us!
          </li>
          <li class="mt-2">
            Volunteer: Our spay days take place every other Sunday, from 8am to 4pm. We are always in need of extra hands to help supervise dogs in the recovery area, and help with sign-in. It is a great experience and a way to connect with the community.
          </li>
        </ul>
      </div>
    </div>
  </div> <!--container-->

  <div class="container mb-md-5 mt-md-5">
    <div class="row justify-content-center">
      <div class="col-4 border p-5 shadow-sm text-center rounded bg-white">
        <h3 class='mb-4'>Help us with a donation</h3>
        <%= link_to 'Donate', donate_path ,
                    class: 'custom-btn-pink' %>
      </div>
    </div>
  </div> <!--container-->
</section>